# Practice Project: GDP Data extraction and processing

## Introduction

In this practice project, I will put the skills acquired through the course to use. I will extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

## Project Scenario:

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF). 

The required data seems to be available on the URL mentioned below:

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

## Objectives

 - Use Webscraping to extract required information from a website.
 - Use Pandas to load and process the tabular data as a dataframe.
 - Use Numpy to manipulate the information contatined in the dataframe.
 - Load the updated dataframe to CSV file.

---

## Dislcaimer

If you are using a downloaded version of this notebook on your local machine, you may encounter a warning message as shown in the screenshot below.

<p style="text-align:center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/mod_5/practice_project_disclaimer.png" width="700" alt="warning message">
</p>


This does not affect the execution of your codes in any way and can be simply ignored.

# Setup

For this lab, we will be using the following libraries:

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

In [1]:
#Install required packages
!pip install pandas numpy 
!pip install lxml

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy
  Downloading numpy-2.2.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 170.0 MB/s eta 0:00:00
Downloading numpy-2.2.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.5/16.5 MB 190.3 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.2.3 tzdata-2025.2
Collecting lxml
  Downloading lxml-5.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.5 kB)
Downloading lxml-5.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 127.5 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.4.0

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [2]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [3]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [4]:
tables=pd.read_html(URL)
df=tables[3]
df.columns=range(df.shape[1])
df=df[[0,2]]
df=df.iloc[1:10,:]
df.columns=["Country","GDP (Million USD)"]
df['GDP (Million USD)']=df['GDP (Million USD)'].astype(int)
df[['GDP (Million USD)']]=df[['GDP (Million USD)']]/1000
df[['GDP (Million USD)']]=np.round(df[['GDP (Million USD)']],2)
#df.rename(columns={'GDP (Million USD)':'GDP (Million USD1)'})
df.rename(columns = {'GDP(Million USD)' : 'GDP(Billion USD)'})
df.set_index("Country")
df

          Country  GDP (Million USD)
1   United States           26854.60
2           China           19373.59
3           Japan            4409.74
4         Germany            4308.85
5           India            3736.88
6  United Kingdom            3158.94
7          France            2923.49
8           Italy            2169.74
9          Canada            2089.67

Extract the required GDP data from the given URL using Web Scraping.

In [5]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [6]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables=pd.read_html(URL)
df=tables[3]
# Replace the column headers with column numbers
df.columns=range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df=df[[0,2]]
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df=df.iloc[1:10,:]
# Assign column names as "Country" and "GDP (Million USD)"
df.columns=['Country','GDP(Million USD)']
df

          Country GDP(Million USD)
1   United States         26854599
2           China         19373586
3           Japan          4409738
4         Germany          4308854
5           India          3736882
6  United Kingdom          3158938
7          France          2923489
8           Italy          2169745
9          Canada          2089672

Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the round() method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to GDP (Billion USD).

In [7]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP(Million USD)'] = df['GDP(Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP(Million USD)']] = df[['GDP(Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP(Million USD)']] = np.round(df[['GDP(Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP(Million USD)' : 'GDP(Billion USD)'})
#df.set_index("Country")
index=[2,3,4,5,6,7,8,9,10]
df1=df
df1.index=index
df1

           Country  GDP(Million USD)
2    United States          26854.60
3            China          19373.59
4            Japan           4409.74
5          Germany           4308.85
6            India           3736.88
7   United Kingdom           3158.94
8           France           2923.49
9            Italy           2169.74
10          Canada           2089.67